.hero {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;  
  padding: 1rem var(--content-padding);
  margin: 3rem auto 0;
  gap: 0.5rem;
  max-width: 600px;
}

.hero > h1 {
  text-align: left;
  margin: 0; 
}

.homepage-content {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem var(--content-padding);
    gap: 5rem;
}

.project-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch; 
  margin: 5rem 2rem;
}

.project-img {
  background: linear-gradient(180deg, var(--dark-secondary) 0%, var(--dark-primary) 100%);
  overflow: hidden;
  border-radius: 10px;
  width: 20rem;          
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


@media (max-width: 768px) {
  .feature-row {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

