.hero {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;  
  padding: var(--content-padding);
  gap: 0.5rem;
  max-width: 1000px;
}

.hero > h1 {
  text-align: left; 
  font-size: 6rem;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 4rem;
    border-top: 1px solid var(--light-secondary);
    margin: 1rem;
    gap: 5rem;
}

.project-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch; 
  margin: 2rem 0;
}

.image-row {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
  align-items: stretch; 
}

.img-container {
  background: linear-gradient(180deg, var(--dark-secondary) 0%, var(--dark-primary) 100%);
  overflow: hidden;
  display: flex;
  width: 600px;
  gap: 1rem;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: middle;
}

.project-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 0;
  margin: 0;
}

.project-info h3 {
  font-size: 1rem;
  font-weight: 600;
}

.project-subtitle {
  color: var(--light-body-font);
  margin: 0;
  font-size: 0.9rem;
}

.project-description {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  width: 600px;
}

.project-link {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}


@media (max-width: 768px) {
  .image-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .project-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

