.hero {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;  
  padding: 1rem var(--content-padding);
  gap: 0.5rem;
  max-width: 1000px;
}

.hero > h1 {
  text-align: left;
  margin: 0; 
  font-size: 6rem;
}

.homepage-content {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 1rem var(--content-padding);
    gap: 5rem;
}

.project-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch; 
  margin: 5rem 2rem;
}

.project-img {
  background: linear-gradient(180deg, var(--dark-secondary) 0%, var(--dark-primary) 100%);
  overflow: hidden;
  border-radius: 10px;
  width: 20rem;          
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-info {
  padding: 1.25rem;
  text-align: center;
}

.project-info h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  line-height: 1.3;
}

.project-description {
  color: white;
  margin: 0;
  font-size: 0.9rem;
  font-style: italic;
}

.project-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.project-button {
    padding: 0.5rem 1rem;
    background-color: var(--dark-secondary);;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    font-weight: 400;
    font-size: 0.75rem;
    transition: background-color 0.3s ease;
}

.project-button:hover {
    color: white;
    background-color: var(--dark-primary);
}


@media (max-width: 768px) {
  .project-row {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

