.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel__viewport {
  overflow: hidden;
  width: 100%;
}

.carousel__container {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel__slide {
  flex: 0 0 80%;
  margin-right: 1rem;
}

.item-image {
  width: 100%;
  height: 320px;
  overflow: hidden;
  background: #f5f5f5;

}

.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel__buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  /* margin: 0 1rem; */
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.carousel__buttons button {
  pointer-events: all;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.3s;
}