@import "tailwindcss";

* {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
}

:root {
  --light-background: #fff;
  --light-primary: #D2FF72;
  --light-primary-transparent: rgb(210, 255, 114, 0.8);
  --light-secondary: #D2FF72;
  --light-links: #D2FF72;
  --light-fonts: #000;
  --dark-fonts: #fff;
  --light-body-font: #a29d94;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "BBH Sans Hegarty", sans-serif;
}

h1 {
  text-align: left;
  font-size: 3rem;
}

h2 {
  text-align: left;
  font-size: 2.25rem;
  margin-bottom: 0;
}

h3 { 
  font-size: 1.75rem;
  margin-bottom: 0; 
}

h4 { 
  font-size: 1.5rem; 
}

h5 { 
  font-size: 1.25rem; 
}

h6 { 
  font-size: 1rem; 
}

p {
  font-family: "Inclusive Sans", sans-serif;
}

button, input, textarea, select, label {
  font-family: "Inclusive Sans", sans-serif;
}

a {
  text-decoration: none;
}

.sub-heading {
  background-color: var(--light-primary);
  color: var(--light-fonts);
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}




