@import "tailwindcss";

* {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
}

:root {
  --light-background: #fff;
  --light-primary: #fd6b2d;
  --light-secondary: rgba(255, 231, 232);
  --light-secondary-transparent: rgba(255, 231, 232, 0.5);
  --light-links: #fd6b2d;
  --light-fonts: #000;
  --light-white-fonts: #fff;
  --light-divider: #000;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "BBH Sans Hegarty", sans-serif;
}

h1 {
  text-align: left;
  font-size: 3rem;
}

h2 {
  text-align: left;
  font-size: 2.25rem;
  margin-bottom: 0;
}

h3 { 
  font-size: 1.75rem;
  margin-bottom: 0; 
}

h4 { 
  font-size: 1.5rem; 
}

h5 { 
  font-size: 1.25rem; 
}

h6 { 
  font-size: 1rem; 
}

p {
  font-family: "Inclusive Sans", sans-serif;
}

button, input, textarea, select, label {
  font-family: "Inclusive Sans", sans-serif;
}

a {
  text-decoration: none;
}





