@import "tailwindcss";

* {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* --light-background: #ebe5e3; */
  --light-background: #fff;
  --light-primary: #ff232a; 
  /* --light-primary: #D2FF72; */
  /* --light-primary: #f54129; */
    /* --light-primary: #7bfff2; */
  --light-secondary: #ff232a;
  --light-links: #ff232a;
  --light-fonts: #000;
  --dark-fonts: #fff;
  --light-body-font: #aca9a0;

}

h1 {
  font-family: "BBH Sans Hegarty", sans-serif;
}


h2, h3, h4, h5, h6 {
  font-family: "BBH Sans Hegarty", sans-serif;
}

p {
  font-family: "Inclusive Sans", sans-serif;
}

button, input, textarea, select, label {
  font-family: "Inclusive Sans", sans-serif;
}

a {
  font-family: "Inclusive Sans", sans-serif;
}

.page-button {
    padding: 0.5rem 1rem;
    color: var(--light-fonts);
    text-decoration: none;
    border: 1px solid var(--light-fonts);
    border-radius: 5px;
    font-weight: 400;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    color: white;
    background-color: var(--light-secondary);
}

.tag-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.tech-tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--light-secondary);;
  color: var(--dark-fonts);
  font-size: 0.75rem;
  border-radius: 25px;
  font-weight: 600;
  border: none;
}