
@import "tailwindcss";

* {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --light-background: #fff;
  --light-primary: #fff;
  --light-secondary: #e5e7eb;
  --light-links: rgb(246, 3, 246);
  --light-fonts: #000;
  --light-body-font: #c8ccd5;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "BBH Sans Hegarty", sans-serif;
}

p {
  font-family: "Inclusive Sans", sans-serif;
}

button, input, textarea, select, label {
  font-family: "Inclusive Sans", sans-serif;
}

a {
  font-family: "Inclusive Sans", sans-serif;
}

.page-button {
    padding: 0.5rem 1rem;
    color: var(--light-fonts);
    text-decoration: none;
    border: 1px solid var(--light-fonts);
    border-radius: 5px;
    font-weight: 400;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    color: white;
    background-color: var(--light-secondary);
}

.tag-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.tech-tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #98b1c8;
  color: white;
  font-size: 0.75rem;
  border-radius: 25px;
  font-weight: 600;
  border: none;
}