* {
  box-sizing: border-box;
}

:root {
  --section-spacing: 4rem;
  --content-padding: 4rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-background);
  color: 000;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  flex: none;
}

.page-container {
  flex: 1;
}

main {
  flex: 1;
}

section {
  margin-bottom: var(--section-spacing);
  padding: 0 var(--section-spacing);
}

p {
  text-align: left;
  margin-bottom: 1rem;
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-content: center;
  min-height: 100vh;
}

.hero-item {
  overflow: hidden;
  break-inside: avoid;
}

.hero-item.text {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-secondary-transparent);}

.hero-item.text h1 {
  font-size: 5rem;
  margin: 0;
}

.hero-item.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-item.large {
  grid-column: span 2;
}

.hero-item.small {
  grid-row: span 0.5;
}


.hero-item.tall {
  grid-row: span 2;
}


.page-title {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  text-align: right;
}

.subtitle {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 4rem;
  margin: 2rem;
  gap: 5rem;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin: 2rem 0;
}

.page-img-container {
  display: flex;
  flex: 1 1 100%;
  background: linear-gradient(180deg, var(--dark-secondary) 0%, var(--dark-primary) 100%);
  min-height: 400px;
  overflow: hidden;
}

.page-img-container:nth-child(3n+2),
.page-img-container:nth-child(3n+3) {
  flex: 1 1 calc(50% - 0.5rem);
}

.page-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-container {
  flex-shrink: 0;
  margin: 0.5rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}


.page-button {
    padding: 0.5rem 1rem;
    color: var(--light-primary);
    text-decoration: none;
    border: 1px solid var(--light-primary);
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    color: var(--light-secondary);
    background-color: #fff;
}

.tag-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.tech-tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--light-primary);
  color: var(--light-fonts);
  font-size: 0.75rem;
  border-radius: 25px;
  font-weight: 600;
  border: none;
}


@media (max-width: 768px) {
  .page-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    text-align: right;
  }
  .content-wrapper {
    flex-direction: column;
  }
}