* {
  box-sizing: border-box;
}

:root {
  --section-spacing: 4rem;
  --content-padding: 4rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: 000;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  flex: none;
}

.page-container {
  flex: 1;
}

main {
  flex: 1;
}

section {
  margin-bottom: var(--section-spacing);
  padding: 0 var(--section-spacing);
}

h1 {
  text-align: left;
  margin: 4.5rem 2rem 1rem;
  font-size: 2.5rem;
}

h2 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 0;
}

p {
  text-align: left;
}

#page-title {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 1.5rem;
  text-align: left;
  padding: 1rem var(--content-padding);
  margin-top: 4rem;
  margin-left: 2rem;
  border-bottom: 1px solid lightgrey;
}

.subtitle {
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--content-padding);
  margin-top: 0;
}

main.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 2rem);
  padding: 2rem var(--content-padding);
  margin-top: 2rem;
  gap: 2rem;
}

main.page-content>form {
  width: 50%;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, var(--dark-secondary) 0%, var(--dark-primary) 100%);
  border-radius: 10px;
  padding: 2rem;
  width: 40rem;          
  height: 30rem;
}

.secondary-img {
  object-fit: cover;
}

.text-column,
.image-column,
.form-column {
  flex: 1;
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  min-height: 25rem;
}

.image-column img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }
}