.tech-section {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.tech-category {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
}

.sub-heading {
    font-size: 1rem;
    color: var(--light-body-font);
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 600;
}

.tech {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
}