
.footer-bar {
  background-color: var(--light-primary);
  color: var(--light-fonts);
  border-top: 1px solid var(--light-secondary);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}