.project-title {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.project-links {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
  gap: 1rem;
}

.project-link {
  display: inline-flex;
  justify-content: left;
  text-decoration: none;
  color: var(--light-primary);
}

.project-link svg {
  color: var(--light-primary);
}

.project-technologies {
  gap: 0.5rem;
  margin-top: 2rem;
  text-align: left;
}