.project-title {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.project-links {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

.project-link {
  display: inline-flex;
  justify-content: left;
  text-decoration: none;
  color: var(--light-primary);
}

.project-technologies {
  gap: 0.5rem;
  margin-top: 2rem;
  text-align: left;
}

@media (max-width: 768px) {
  
  project-title {
    text-align: left;
  }
  
}

