.page-title {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  text-align: right;
  margin-top: 2rem;
}

.project-title {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.project-links {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

.project-link {
  display: inline-flex;
  justify-content: left;
  text-decoration: none;
  color: var(--light-primary);
}

.project-technologies {
  gap: 0.5rem;
  margin-top: 2rem;
  text-align: left;
}

.tag-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.tech-tag {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: var(--light-primary);
    color: var(--light-white-fonts);
    font-size: 0.75rem;
    border-radius: 25px;
    font-weight: 600;
    height: 2rem;
    max-width: 8rem;
    white-space: normal;
    text-align: center;
    line-height: 1.3;
}

@media (max-width: 768px) {
  .page-title {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

}

