.navbar {
  display: flex;
  background: var(--light-primary);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.left-section {
  display: flex;
  gap: 1rem;
}

a.home-link {
  font-family: "BBH Sans Hegarty", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--light-fonts);
  font-size: 1.25rem;
  text-decoration: none;
}

a.home-link:hover {
  color: #fff;
}

.right-section {
  display: flex;      
  gap: 1rem;           
  margin-left: auto;   
  align-items: center;
}

.right-section a.page-link {
  text-transform: uppercase;
  color: var(--light-fonts);
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
}

.right-section a.page-link:hover {
  color: #fff;
}

.right-section a.page-link:not(:last-child)::after {
  content: '•';      
  margin-left: 0.5rem;
  color: var(--light-fonts);
  vertical-align: middle;
  display: inline;
}

a.page-link {
  text-transform: uppercase;
  color: var(--light-fonts);
  text-decoration: none;
  font-size: 1rem;
}

a.page-link:hover {
  color: var(--light-links);
}

.logo-image {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.hamburger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .right-section {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-user-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    right: 1rem;
  }

  .mobile-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 380px;
    background-color: var(--light-primary-transparent);
    padding: 1rem 2rem;
    gap: 1rem;
    box-shadow: 0 4px 12px rgba(120, 160, 40, 0.25);

  }

  .mobile-links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .mobile-link {
    font-size: 1.1rem;
    color: var(--light-fonts);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
  }

  .mobile-link:hover {
    color: var(--light-body-font);
  }

  .mobile-menu.hidden {
    display: none;
  }

}

@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}